[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
mypy = "*"

[packages]
torch = "*"
torchvision = "*"
typing-extensions  = "*"
pandas = "*"
sklearn = "*"
numpy = "*"
